/* elements */

body{
    font-family: sans-serif
    }
header{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 5px black;
}

h2{
    text-decoration: underline;
    font-size: 30px;
}

article{
    font-size: 25px;
    border-left: solid blue 3px
}

aside {
    display: flex;
    border-left: solid black 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*classes */

.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    background: grey;
    height: auto;
    justify-content: flex-end;    
}

.logo{
    display: flex;
    height: 20px;
    width:20px; 
    margin: 15px;
    padding: 5px;
    border: solid black 3px;
}

.footer-logo{
    height: 50px;
    width: 50px;
    border: solid black 3px;
}


.main-image{
    width: 300px;
    height: 300px;
    margin: 20px;
    border: solid black 3px;
    
}

.box{
    height: 175px;
    width: 175px;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
  }
/* responsiveness */
@media (max-width: 600px){
    .container{
        display:flex;
        flex-direction:column
    }
    
    .box{
        border: solid black 5px;
    }
    
}

@media (max-width: 370px){
    .main-image{
        height: 150px;
        width:150px;
    }
}